<ion-header color="primary">
    <ion-toolbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Sign up page</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding class="auth-page">
    <div ion-text *ngIf="error" class="error-message" [@error-message]>
        <span class="error-message-text">{{error.message}}</span>
        <span class="error-message-close" (click)="error=null"> <ion-icon name="close"></ion-icon></span>
    </div>
    <form class="standard-form authorization-page-container-form"
          [formGroup]="signUpForm" (submit)="signUp()">
        <ion-list>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input
                    [disabled]="lockSignUpUi? true : null"
                    formControlName="email" [(ngModel)]="signUpModel.email" type="text"></ion-input>
            </ion-item>
            <p color="danger" ion-text *ngIf="getErrorFieldStatus('email', 'required')" [@error-message]>
                Email field is required.
            </p>
            <p color="danger" ion-text *ngIf="getErrorFieldStatus('email', 'email')" [@error-message]>
                Invalid email
            </p>
            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input
                    [disabled]="lockSignUpUi? true : null"
                    formControlName="password" [(ngModel)]="signUpModel.password" type="password"></ion-input>
            </ion-item>
            <p color="danger" ion-text *ngIf="getErrorFieldStatus('password', 'required')" [@error-message]>
                Password field is required.
            </p>
            <p color="danger" ion-text *ngIf="getErrorFieldStatus('password', 'minlength')" [@error-message]>
                Password field should have 7 symbols
            </p>
            <ion-item>
                <ion-label floating>Confirm password</ion-label>
                <ion-input
                    [disabled]="lockSignUpUi? true : null"
                    formControlName="confirmPassword" [(ngModel)]="signUpModel.confirmPassword"
                    type="password"></ion-input>
            </ion-item>
            <p color="danger" ion-text *ngIf="getErrorFieldStatus('confirmPassword', 'required')" [@error-message]>
                Confirm password field is required.
            </p>
            <p color="danger" ion-text *ngIf="getErrorFieldStatus('confirmPassword', 'minlength')" [@error-message]>
                Confirm password field should have 7 symbols
            </p>
            <ion-item>
                <ion-label floating>Name</ion-label>
                <ion-input
                    [disabled]="lockSignUpUi? true : null"
                    formControlName="name" [(ngModel)]="signUpModel.name" type="text"></ion-input>
            </ion-item>
            <p color="danger" ion-text *ngIf="getErrorFieldStatus('name', 'required')" [@error-message]>
                Name field is required.
            </p>
            <ion-item>
                <ion-label floating>Surname</ion-label>
                <ion-input
                    [disabled]="lockSignUpUi? true : null"
                    formControlName="surname" [(ngModel)]="signUpModel.surname" type="text"></ion-input>
            </ion-item>
            <p color="danger" ion-text *ngIf="getErrorFieldStatus('surname', 'required')" [@error-message]>
                Surname field is required.
            </p>
            <ion-item>
                <ion-label>Birhday</ion-label>
                <ion-datetime
                    formControlName="birthday"
                    displayFormat="MM/DD/YYYY"
                    [(ngModel)]="signUpModel.birthday">
                </ion-datetime>
            </ion-item>
            <p color="danger" ion-text *ngIf="getErrorFieldStatus('birthday', 'required')" [@error-message]>
                Birhday is required.
            </p>
        </ion-list>
        <button
            [disabled]="lockSignUpUi || !signUpForm.valid"
            ion-button round block type="submit">
            <span> {{lockSignUpUi? 'Loading...': 'Sign Up'}}</span>
        </button>
    </form>
</ion-content>
